.wrapper {
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;

	.text {
		font-size: 48px;
		font-weight: 700;
	}

	.error {
		font-weight: 600;
	}
}