.wrapper {
	padding: 30px;

	display: flex;
	flex-direction: column;
	gap: 20px;

	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	border-radius: 20px;

	.image {
		align-self: center;
		position: relative;

		& img {
			width: 150px;
			height: 150px;
			object-fit: cover;
			border-radius: 20px;

			position: relative;
		}

		&::after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 150px;
			height: 100%;
			background: #000;
			opacity: 0.1;
			z-index: 10;
			border-radius: 20px;
		}
	}

	.title {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden; 
		text-overflow: ellipsis;
		line-height: 1.5;
		max-width: 300px; 
		font-weight: 600;
		font-size: 20px;
	}

	.info {
		margin: auto 0px 0px 0px;
		
		display: flex;
		align-self: flex-start;
		justify-content: space-between;
		gap: 15px;

		.price {
			font-weight: 700;
		}

		.category {
			color: #b3b5b7;
		}
	}

	.footer {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}
