.button {
	padding: 12px 30px;

	color: #fff;
	font-weight: 700;

	background-color: #1c1c1c;
	border-radius: 20px;
	border: 1px solid transparent;

	transition: all 0.3s ease-in-out;

	&:hover {
		color: #1c1c1c;
		border: 1px solid #1c1c1c;
		background-color: transparent;
	}

	&.yellow {
		background-color: #f8d496;
		&:hover {
			color: #1c1c1c;
			border: 1px solid #f8d496;
			background-color: transparent;
		}
	}

	&.white {
		color: #1c1c1c;
		background-color: #fff;
		&:hover {
			color: #fff;
			background-color: #1c1c1c;
		}
	}
}
