.button {
	padding: 12px 30px;

	color: #fff;
	font-weight: 700;

	background-color: #1c1c1c;
	border-radius: 20px;
	
}

.btnOrange {
	padding: 12px 30px;

	color: #fff;
	font-weight: 700;

	background-color: #1c1c1c;
	border-radius: 20px;
	background-color: #f8d496;
}
