.header {
	padding: 0px 30px;
	margin: 20px 0px 50px 0px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 120px;

	border-radius: 20px;
	background-color: #fff;

	.logo {
		display: flex;
		align-items: center;
		gap: 15px;

		& img {
			width: 50px;
			height: 50px;
		}

		.logoText {
			font-size: 28px;
			font-weight: 700;
		}
	}

	.search {
		margin: 0px auto 0px 50px;
	}

	.actions {
		display: flex;
		align-items: center;
		gap: 25px;

		font-size: 28px;
	}
}
